* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.my-head {
    height: 60px;
    width: 100%;
    /* background-color:
rgb(11, 83, 96); */
    /* background-color: rgb(6, 60, 70); */
    background: rgb(0, 0, 0);
    /* filter: blur(10px); */
    position: sticky;
    color: #fff;
}

body {
    margin: 0;
    padding: 0px;
    /* display: flex; */
    /* align-items: center; */
    /*
justify-content: center; */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    font-size: 30px;
    font-family:
        sans-serif;
    background-color: rgb(215, 229, 243);
    /* border: 2px solid black; */
    border-right: 7px solid rgb(69, 34, 5);
    letter-spacing: 0.1em;
    width: 9em;
    height: 1.5em;
    line-height: 1.5em;
    position: relative;
    overflow: hidden;
    margin:
        0.5em;
    cursor: pointer;
}


nav ul li span {
    color: rgb(192, 232, 217);
    mix-blend-mode: difference;
}

nav ul li::before {
    content: '';
    position: absolute;
    width: 2.9em;
    height: inherit;
    background-color: rgb(69, 34, 5);
    border-radius: 45%;
    /*
border-top-right-radius: 55%; border-bottom-right-radius: 55%; */
    top: 0;
    left: -2.40rem;
    transition: 0.5s ease-out;
}

nav ul li:hover::before {
    transform: scale(7);
}

.my-sidebar {
    background-color: rgb(11, 83, 96);
    position: fixed;
    /*
important: ensures it's on top of normal flow */
    z-index: 1055;
}

.logo {
    cursor: pointer;
    font-family: "Vidaloka",
        serif;
    font-weight: 600;
    font-style: normal;
    font-size: 35px;
    font-weight: bold;
    color: rgb(69, 34, 5);
}

.logo:hover {
    color: rgb(255, 255, 255);
}

.togle{
    display: none !important;
    font-size: 24px;
    background: none !important;
    border: none;
    cursor:
        pointer;
    color: #fbfbfb;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

header nav a:hover {
    color: rgb(69, 12, 12);
    /* color: #3bc6f5;
*/
    /* text-decoration: underline; */
}

@media only screen and (max-width: 768px) {
    #navbarr {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .togle{
        display: block !important;
        color: #fff;
        


    }
}

.inner {
    display: flex;
    justify-content:
        space-between;
    align-items: center;
    height: 55px;
    /* float: right; */
    margin-right: 20px;
    /* border: 2px solid black; */
}

.mynave {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    float: right;
    margin-right: 20px;
    /* border: 2px solid black; */
}

.pimg {
    height: 100px;
    border: 3px solid red;
    object-fit: contain;
}