/* Reset & Box sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root variables for light mode */
:root {
    --color-heading-title: #8A1A27; /* Maroon headings */
    --color-body-bg: #ffffff;        /* Light background */
    --color-bg-nav-dark: #3A2A21;    /* Navbar/footer dark brown */
    --color-button-hilight: #d94e33; /* Golden accent buttons */
    --color-card: #faf7f2;           /* Light card background */
    --color-text: #2C1B14;           /* Dark text */
    --color-input-bg: #f5f0e8;       /* Input background */
    --color-input-text: #2C1B14;     /* Input text */
}

/* Dark mode variables */
.dark-mode {
    --color-heading-title: #ffffff;
    --color-body-bg: #3A2A21;
    --color-bg-nav-dark: #261A15;
    --color-button-hilight: #d94e33;
    --color-card: #4B3A2F;
    --color-text: #ffffff;
    --color-input-bg: #4B3A2F;
    --color-input-text: #ffffff;
}

/* Page background */
body {
    background-color: var(--color-body-bg);
    color: var(--color-text);
    font-family: Arial, Helvetica, sans-serif;
}

/* header carusel */
.hero-section {
    position: relative;
    width: 100%;
    height: 500px;  /* Change this value */
    overflow: hidden;
}

.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 252, 249);

}
.hero-content h1{
    font-family: "Abril Fatface", serif;
    font-size: 3.60rem;
    font-weight: 700;
}
